<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/insertData" method="post">
      <input type="text" name="id" value="<% updateValue.id %>" />
      <input type="text" name="name" value="<% updateValue.name %>" />
      <input type="submit" />
    </form>

    <table border="1">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>action</th>
      </tr>

      <% student.forEach(function(el, i) { %>
      <tr>
        <td><%= el.id %></td>
        <td><%= el.name %></td>
        <td>
          <a href="/delete?id=<%= el.id %>">Delete</a>
          <a href="/update?id=<%= el.id %>">update</a>
        </td>
      </tr>
      <% }) %> <% %>
    </table>
  </body>
</html>
